@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


@mixin mq($point) {
  @if $point == mobile {
    @media (max-width: 640px) { @content; }
  } @else if $point == tablet {
    @media (min-width: 640px) and (max-width: 850px) { @content; }
  } @else if $point == min-desktop {
    @media (min-width: 1024px) { @content; }
  }
}

$font-primary: 'Noto Sans', Helvetica, Arial, sans-serif;

$white: #fff;
$black: #000;
$box-shadow-default: 0 1px 2px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .07), 0 3px 1px -2px rgba(0, 0, 0, .09);

@mixin list-clean {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: $white;
  font-family: $font-primary;
  margin: 0;
}

footer {
  background: $black;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  p { flex-basis: 100%; }

  .xtb-Copyright {
    font-size: .75em;
  }
}

.xbt-MainLogo {
  height: auto;
  max-width: 300px;
  width: 100%;
}

.xbt-Navigation {
  align-self: flex-end;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-bottom: 1em;

  @include mq(mobile) {
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
}

.xbt-MobileMenu_Show {
  @include mq(mobile) {
    display: block;
    background: rgba(0, 0, 0, .75);
    margin: 0;
  }

  color: $white;
  display: none;
  font-weight: bold;
  padding: 1em;
  position: relative;
  text-decoration: none;

  span {
    background: #333;
    border: 1px solid $white;
    padding: .5em;
    border-radius: 2px;
    cursor: pointer;
  }
}

.xbt-NavigationList {
  @include list-clean;
  display: flex;
  margin-top: 3em;


  @include mq(mobile) {
    margin-top: 0;
    flex-direction: column;
    max-height: 0;
    transition: max-height 300ms ease-in-out;
    overflow: hidden;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  &.active {
    max-height: 500px;
  }
}

.xbt-Navigation_Item {
  margin-left: 1em;
  padding: 1em .5em .5em;
  text-transform: uppercase;

  @include mq(mobile) {
    background: #555;
    border-top: 1px solid #333;
    margin: 0;
    padding: 1em;
  }

  &.active {
    @include mq(mobile) {
      border-left: 5px solid #ffc107;
      border-bottom: 0;
    }

    border-bottom: 3px solid #ffc107;
  }
}

.xbt-HeroBanner {
  box-shadow: inset 0 0 0 100em rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;

  @include mq(mobile) {
    &::before {
      background-image: url('../images/hero_bg.jpg');
      background-size: cover;
      content: '';
      height: 100vh;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}

.xbt-MainSSSSS {
  margin: auto;
  text-align: center;
}

.xbt-Arrow-down {
  align-self: center;
  background-image: url('../images/arrow_down.svg');
  background-size: cover;
  height: 30px;
  margin-bottom: 1em;
  width: 30px;
}

.xbt-HeroHeading {
  color: $white;
  position: relative;
  top: 6em;

  span {
    margin-left: 2em;
    padding-right: 2em;

    &:not(:last-child) {
      border-right: 2px solid #ffc107;
    }

    @include mq(mobile) {
      display: none;
    }
  }
}

[class^="xbt-Section"] {
  display: flex;
  align-items: center;
  height: 500px;
}

.xbt-Section-one {
  background: url('../images/s1.jpg') center center no-repeat;
  background-size: cover;
}

.xbt-Section-two {
  background: url('../images/s2.jpg') center center no-repeat;
  background-size: cover;
  justify-content: flex-end;
}

.xbt-Section-three {
  background: url('../images/s3.jpg') center center no-repeat;
  background-size: cover;
}

.text-block {
  color: $white;
  margin-right: 4em;
  max-width: 470px;
  background: rgba(0, 0, 0, 0.7);
  padding: 1em;

  @include mq(mobile) {
    max-width: 320px;
    margin-right: inherit;
  }
}

.xbt-HeroBanner_Video {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: -1;

  @include mq(mobile) {
    display: none;
  }
}

.xbt-TextWrapper-block {
  background: $white;
  box-shadow: 1px 0 10px -4px;
  max-width: 500px;
  min-width: 250px;
  margin-right: 4em;
  right: 0;
  padding: 1em;
  position: absolute;

  @include mq(mobile) {
    margin: 0 auto;
    max-width: 250px;
    right: 1em;
  }

  h1 {
    margin-bottom: 1.5em;
  }

  &::after {
    background: $white;
    bottom: -40px;
    content: '';
    display: block;
    height: 40px;
    position: absolute;
    right: 0;
    width: 40%;
  }

  &::before {
    background: $white;
    bottom: -40px;
    box-shadow: 0 3px 8px -5px;
    content: '';
    display: block;
    height: 40px;
    position: absolute;
    right: 12px;
    transform: skew(30deg);
    width: 40%;
  }
}

.xbt-ShareBlock {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-around;
  top: 50%;
  background: rgba(0, 0, 0, .7);
  width: 35px;
  height: 80px;
  padding: .5em;
  z-index: 100;

  .facebook {
    background-image: url('../images/icons/facebook.svg');
    background-size: cover;
    content: '';
    height: 30px;
    width: 30px;
    z-index: -1;
  }

  .youtube {
    background-image: url('../images/icons/youtube.svg');
    background-size: cover;
    content: '';
    height: 30px;
    width: 30px;
    display: block;
    z-index: -1;
  }
}

.xbt-ContactForm {
  display: flex;
  margin: auto;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: .2em;
  color: $white;
  font-weight: bold;
}

.xbt-ContactSection {
  box-shadow: inset 0 0 0 100em rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.xbt-FormGroup:not(:last-child) {
  margin-bottom: 1em;
}

[type='text'],
[type='password'],
[type='email'],
[type='url'],
[type='tel'],
[type='datetime'],
[type='datetime-local'],
[type='date'],
[type='month'],
[type='time'],
[type='week'],
[type='number'],
[type='search'],
[type='color'],
textarea {
  min-width: 50px;
  padding: 1.2em;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: $white;
  transition: box-shadow .5s ease;
  width: 100%;
}

@mixin button-base {
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: $font-primary;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: $box-shadow-default;
  transition: .2s ease-out;
  font-size: 0.938em;
  height: 36px;
  line-height: 35px;
  text-transform: uppercase;
}

@mixin button-size-medium {
  padding: 0 1.5rem;

  @include mq(mobile) {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
}

@mixin button-color($color, $text-color) {
  background-color: $color;
  color: $text-color;

  &:visited { color: $text-color; }

  &:hover {
    background-color: darken($color, 5);
    box-shadow: $box-shadow-default;
    text-decoration: none;
  }
}

.xbt-Button-primary {
  @include button-base;
  @include button-size-medium;
  @include button-color(#ffc107, #3e3e3e);
}

.xbt-FormTitle {
  color: $white;
  text-align: center;
}
