footer
  p Oficina principal: Calle Unap 131 Urb.Aduaneros - Pueblo Libre
  p Central Telefónica - Teléfono: 957612264 (Horario de 9:00am de 6:00pm)
  p Contáctenos: rgarcia@xbit.pe
  p.xtb-Copyright Copyright 2016 XBIT. All rights reserved.
