video(class="xbt-HeroBanner_Video" loop='', muted='', autoplay='', poster='img/hero_bg.jpg')
  //- source(src='video/big_buck_bunny.webm', type='video/webm')
  source(src='video/vbg.mp4', type='video/mp4')
  //- source(src='video/big_buck_bunny.ogv', type='video/ogg')
